/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "swallow.dtsi"

/ {
	model ="Nexell swallow drone board";
	compatible = "nexell,swallow-drone", "nexell,swallow";

	chosen {
		// swiotlb = 16MB(early_params:8192)
		bootargs = "console=ttyS0,115200 swiotlb=8192";
		stdout-path = "serial0@20880000";
	};

	memory: memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x08000000>;
	};

	soc {
#if 0
		nexell_usbphy: nexell-usbphy@20040000 {
			status = "okay";
		};

		dwc2: dwc2otg@20d00000 {
			status = "okay";
		};

		vip_0: vip@20400000 {
			status = "okay";
		};

		clipper_0: clipper0@20400000 {
			gpios = <&gpio_d 29 GPIO_ACTIVE_LOW &gpio_f 0 GPIO_ACTIVE_LOW>;
			pinctrl-0 = <&vip0_bus &vip0_sync &vip0_vmclk>;
			external_sync = <1>;
			padclk_sel = <1>; /* pad clock inverting */
			h_syncpolarity = <1280>; /* HSYNC active high */
			v_syncpolarity = <720>; /* VSYNC active high */
			h_frontporch = <7>;
			h_syncwidth = <1>;
			h_backporch = <0>;
			v_frontporch = <0>;
			v_syncwidth = <1>;
			v_backporch = <0>;
			status = "okay";

			sensor {
				type = <NX_CAPTURE_SENSOR_I2C>;
				i2c_name = "MT9D111";
				i2c_adapter = <12>;
				/* write:0xBA read:0xBB */
				addr = <0x5D>;
			};
			power {
				enable_seq = <
				NX_ACTION_START NX_ACTION_TYPE_GPIO 0 0 1 1 1 NX_ACTION_END
				NX_ACTION_START NX_ACTION_TYPE_GPIO 1 0 10 1 1 NX_ACTION_END
				>;
			};
		};

		decimator_0: decimator0@20400000 {
			status = "okay";
		};

		scaler: scaler@20410000 {
			status = "okay";
		};

		nx-v4l2 {
			status = "okay";
		};
#endif
                adc0: adc0@206c0000 {
                        status = "okay";
                };

		i2c_0: i2c0@20600000 {
			status = "okay";
		};

		i2c_1: i2c1@20610000 {
			status = "okay";
		};

		i2c_11: i2c11@206b0000 {
			status = "okay";
		};
		dwmmc_0: dwmmc@20930000 {
			status = "okay";
		};

		dwmmc_1: dwmmc@20940000 {
			status = "okay";
		};
		spi_0: spi@20800000 {
			status = "okay";
			spidev@0 {
				compatible = "linux,spidev";
				reg = <0x0>;
				spi-max-frequency = <100000000>;
			};
		};

		qspi_0: qspi@20830000 {
			status = "okay";
			spidev@0 {
				compatible = "linux,spidev";
				reg = <0x0>;
				spi-max-frequency = <100000000>;
			};
		};

		qspi_1: qspi@20840000 {
			status = "okay";
			spidev@0 {
				compatible = "linux,spidev";
				reg = <0x0>;
				spi-max-frequency = <100000000>;
			};
		};

		qspi_2: qspi@20850000 {
			cs-gpios = <&gpio_e 24 0>;
			status = "okay";
			ms5611@0 {
				compatible = "meas,ms5611";
				reg = <0x0>;
				spi-max-frequency = <20000000>;
			};
		};

		uart_0:uart0@20880000 {
			status = "okay";
		};

		usart_1:usart1@208b0000 {
			status = "okay";
		};

		usart_2:usart2@208c0000 {
			status = "okay";
		};

		usart_3:usart3@208d0000 {
			status = "okay";
		};

		pwm0: pwm0@208e0000 {
			status = "okay";
		};

                watchdog@206d0000 {
                        status = "okay";
                };
        };
};
