/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "swallow.dtsi"

/ {
	model ="Nexell swallow drone board";
	compatible = "nexell,swallow-drone", "nexell,swallow";

	chosen {
		// swiotlb = 16MB(early_params:8192)
		bootargs = "console=ttyS0,115200 swiotlb=8192 root=/dev/mmcblk0p2 rootwait";
		stdout-path = "serial0@20880000";
	};

	memory: memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x08000000>;
	};

	soc {
		nexell_usbphy: nexell-usbphy@20040000 {
			status = "okay";
		};

		dwc2: dwc2otg@20d00000 {
			status = "okay";
		};

		vip_0: vip@20400000 {
			status = "okay";
		};

		clipper_0: clipper0@20400000 {
			/* gpio_f 0 - reset, gpio_d 29 - stand by */
			gpios = <&gpio_f 0 GPIO_ACTIVE_LOW &gpio_d 29 GPIO_ACTIVE_HIGH>;
			logical = <0>;
			interface_type = <NX_CAPTURE_INTERFACE_PARALLEL>;
			data_order = < NX_VIN_CBY0CRY1>;
			interlace = <0>;
			external_sync = <0>;
			status = "okay";

			sensor {
				type = <NX_CAPTURE_SENSOR_I2C>;
				i2c_name = "MT9D111";
				i2c_adapter = <0>;
				/* write:0x90 read:0x91 */
				addr = <0x48>;
			};
			power {
				enable_seq = <
				NX_ACTION_START NX_ACTION_TYPE_GPIO 0 0 1 1 1 NX_ACTION_END
				>;
			};
			clock {
				pwms = <&pwm0 3 25000000 0>;
				pwm-names = "pwm-clipper_0-sensor";
			};
		};

		scaler: scaler@20410000 {
			status = "okay";
		};

		nx-v4l2 {
			status = "okay";
		};

		adc0: adc0@206c0000 {
                        status = "okay";
                };

		i2c_0: i2c0@20600000 {
			status = "okay";
		};

		i2c_1: i2c1@20610000 {
			status = "okay";
		};

		i2c_11: i2c11@206b0000 {
			status = "okay";
		};

		dwmmc_0: dwmmc@20930000 {
			status = "okay";
		};

		dwmmc_1: dwmmc@20940000 {
			status = "okay";
		};

		spi_0: spi@20800000 {
			cs-gpios = <&gpio_c 11 0>;
			status = "okay";
			flash: n25ql01@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "spi-nor";
				reg = <0>;
				spi-max-frequency = <1000000>;
				m25p,fast-read;
			};
		};

		qspi_0: qspi@20830000 {
			status = "okay";
			spidev@0 {
				compatible = "linux,spidev";
				reg = <0x0>;
				spi-max-frequency = <50000000>;
			};
		};

		qspi_1: qspi@20840000 {
			status = "okay";
			spidev@0 {
				compatible = "linux,spidev";
				reg = <0x0>;
				spi-max-frequency = <50000000>;
			};
		};

		qspi_2: qspi@20850000 {
			cs-gpios = <&gpio_e 24 0>;
			status = "okay";
			ms5611@0 {
				compatible = "meas,ms5611";
				reg = <0x0>;
				spi-max-frequency = <20000000>;
			};
		};

		uart_0:uart0@20880000 {
			status = "okay";
		};

		usart_1:usart1@208b0000 {
			status = "okay";
		};

		usart_2:usart2@208c0000 {
			status = "okay";
		};

		usart_3:usart3@208d0000 {
			status = "okay";
		};

		pwm0: pwm0@208e0000 {
			status = "okay";
		};

                watchdog@206d0000 {
                        status = "okay";
                };
        };

	spi0_wp: regulator-fix@0 {
		compatible = "regulator-fixed";

		regulator-name = "SPI0 Wp";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&gpio_a 8 GPIO_ACTIVE_LOW>;
		enable-active-low;
	};
};
