/dts-v1/;
#include <dt-bindings/interrupt-controller/irq.h>
/ {
	model = "nexell-swallow,qemu";
	compatible = "nexell-swallow";
	#address-cells = <0x00000002>;
	#size-cells = <0x00000002>;

	aliases {
		pinctrl0 = &pinctrl_0;
	};

	chosen {
		bootargs = "console=ttyS0,115200";
		stdout-path = "serial0@208a0000";
	};

	cpus {
		#address-cells = <0x00000001>;
		#size-cells = <0x00000000>;
		timebase-frequency = <10000000>;

		cpu@0 {
			device_type = "cpu";
			reg = <0x00000000>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdcsu";
			mmu-type = "riscv,sv48";
			clock-frequency = <1000000000>;

			cpu0_intc: interrupt-controller {
				#interrupt-cells = <0x00000001>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				linux,phandle = <0x00000001>;
				phandle = <0x00000001>;
			};
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x00000000 0x80000000 0x00000000 0x08000000>;
	};

	soc {
		#address-cells = <0x00000002>;
		#size-cells = <0x00000002>;
		compatible = "nexell-swallow-soc";
		ranges;

		clint@0x2000000 {
			compatible = "riscv,clint0";
			interrupts-extended = <&cpu0_intc 3 &cpu0_intc 7>;
			reg = <0x00000000 0x02000000 0x00000000 0x00010000>;
		};

		plic: interrupt-controller@4000000 {
			#interrupt-cells = <1>;
			interrupt-controller;
			compatible = "riscv,plic0";
			interrupts-extended = <&cpu0_intc 11 &cpu0_intc 9>;
			reg = <0x00000000 0x0c000000 0x00000000 0x10000000>;
			reg-names = "control";
			riscv,max-priority = <7>;
			riscv,ndev = <89>;
			linux,phandle = <0x00000002>;
			phandle = <0x00000002>;
		};

	};

	pinctrl_0: pinctrl@0x20700000 {
		compatible = "nexell,swallow-pinctrl";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x00000000 0x20700000 0x00000000 0x1000
		       0x00000000 0x20710000 0x00000000 0x1000
		       0x00000000 0x20720000 0x00000000 0x1000
		       0x00000000 0x20730000 0x00000000 0x1000
		       0x00000000 0x20740000 0x00000000 0x1000
		       0x00000000 0x20750000 0x00000000 0x1000
		       0x00000000 0x20760000 0x00000000 0x1000
		       0x00000000 0x20770000 0x00000000 0x1000>;
		interrupt-parent = <&plic>;
		interrupts = <0 82 IRQ_TYPE_NONE>,
			     <0 83 IRQ_TYPE_NONE>,
			     <0 84 IRQ_TYPE_NONE>,
			     <0 85 IRQ_TYPE_NONE>,
			     <0 86 IRQ_TYPE_NONE>,
			     <0 87 IRQ_TYPE_NONE>,
			     <0 88 IRQ_TYPE_NONE>,
			     <0 89 IRQ_TYPE_NONE>;
		status = "okay";
	};

	serial0@208a0000 {
		compatible = "ns16550a";
		reg = <0x00000000 0x208a0000 0x00000000 0x00001000>;
		clock-frequency = <3686400>;
		interrupts = <58>;
		interrupt-parent = <&plic>;
		status = "okay";
	};
};

#include "swallow-pinctrl.dtsi"
