/dts-v1/;
#include "swallow.dtsi"

/ {
	model ="Nexell swallow drone board";
	compatible = "nexell,swallow-drone", "nexell,swallow";

	chosen {
		bootargs = "console=ttyS0,115200";
		stdout-path = "serial0@20880000";
	};

	memory: memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x08000000>;
	};

	soc {
		nexell_usbphy: nexell-usbphy@20040000 {
			status = "okay";
		};

		dwc2: dwc2otg@20D00000 {
			status = "okay";
		};

                adc0: adc0@206c0000 {
                        status = "okay";
                };

		i2c_0: i2c0@20600000 {
			status = "okay";
		};

		i2c_1: i2c1@20610000 {
			status = "okay";
		};

		i2c_11: i2c11@206b0000 {
			status = "okay";
		};

		dwmmc_0: dwmmc@20930000 {
			status = "okay";
		};

		dwmmc_1: dwmmc@20940000 {
			status = "okay";
		};

		spi_0: spi@20800000 {
			status = "okay";
		};

		spi_3: spi@20830000 {
			status = "okay";
		};

		spi_4: spi@20840000 {
			status = "okay";
		};

		spi_5: spi@20850000 {
			status = "okay";
		};

		uart0:serial0@20880000 {
			status = "okay";
		};

		uart3:serial3@208b0000 {
			status = "okay";
		};

		uart4:serial4@208c0000 {
			status = "okay";
		};

		pwm0: pwm0@208e0000 {
			status = "okay";
		};

		pwm2: pwm2@20900000 {
			status = "okay";
		};

                watchdog@206d0000 {
                        status = "okay";
                };
        };
};
